<div class="pb-tab tab-api-key">
  <form
    class="tab-api-key-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
    novalidate
  >
      <mat-form-field appearance="fill" color="{{ config }}">
        <mat-label translate>input_label_master_pwd</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_master_pwd' | translate }}"
          formControlName="masterPwd"
          required
        >
        <pb-icon-validation matSuffix [entity]="this.form.controls.masterPwd"></pb-icon-validation>
        <mat-hint translate>input_hint_master_pwd</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" color="{{ config }}">
        <mat-label  translate>input_label_epex</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_epex' | translate }}"
          formControlName="epexPass"
          required
        >
        <pb-icon-validation matSuffix [entity]="this.form.controls.epexPass"></pb-icon-validation>
        <mat-hint translate>input_hint_epex</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill"  color="{{ config }}">
        <mat-label translate>input_label_api_key_name</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_api_key_name' | translate }}"
          formControlName="name"
          required
        >
        <pb-icon-validation matSuffix [entity]="this.form.controls.epexPass"></pb-icon-validation>
        <mat-hint translate>input_hint_api_key_name</mat-hint>
      </mat-form-field>
      <mat-checkbox
        formControlName="canTrade"
        color="{{ config }}"
      >
      {{ 'checkbox_label_enable_trading' | translate }}
      </mat-checkbox>
      &nbsp;
      <mat-checkbox
      formControlName="canSignal"
      color="{{ config }}"
      >
      {{ 'checkbox_label_enable_signaling' | translate}}
    </mat-checkbox>
    <mat-radio-group formControlName="envProd">
      <mat-radio-button value="true" >
        {{ 'checkbox_label_enable_environment_production' | translate }}
      </mat-radio-button>
      <mat-radio-button value="false">
        {{ 'checkbox_label_enable_environment_test' | translate }}
      </mat-radio-button>
    </mat-radio-group>
  </form>
</div>
