<div class="pb-tab tab-api-key">
  <form
    class="tab-api-key-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
    novalidate
  >
    <p>
      <mat-form-field appearance="fill" color="{{ config }}">
        <mat-label i18n="@@connection_settings_tab_api_key_robocomb_label">RoboComp Password</mat-label>
        <input
          matInput
          i18n-placeholder="@@connection_settings_tab_api_key_robocomb_placeholder"
          placeholder="like: ljad032234"
          formControlName="roboPass"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint  i18n="@@connection_settings_tab_api_key_robocomb_hint">The password for connection to RoboComp service</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill" color="{{ config }}">
        <mat-label  i18n="@@connection_settings_tab_api_key_epex_label">Epex Password</mat-label>
        <input
          matInput
          i18n-placeholder="@@connection_settings_tab_api_key_epex_placeholder"
          placeholder="like: 2434234"
          formControlName="epexPass"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint  i18n="@@connection_settings_tab_api_key_epex_hint">The password for connection to Epex service</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill"  color="{{ config }}">
        <mat-label  i18n="@@connection_settings_tab_api_key_name_label">Api Key Name</mat-label>
        <input
          matInput
          i18n-placeholder="@@connection_settings_tab_api_key_name_placeholder"
          placeholder="like: Inercom Trading"
          formControlName="apiKey"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint  i18n="@@connection_settings_tab_api_key_name_hint">Name to identify api-key</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox
        formControlName="canTrade"
        required
        color="{{ config }}"
        i18n="@@connection_settings_tab_api_key_enable_trading_label"
      >
        Enable Trading
      </mat-checkbox>
      &nbsp;
      <mat-checkbox
        formControlName="canSignal"
        required
        color="{{ config }}"
        i18n="@@connection_settings_tab_api_key_enable_signaling_label"
      >
        Enable Signaling
      </mat-checkbox>
    </p>
    <p>
      <mat-checkbox
        formControlName="envProd"
        required
        color="{{ config }}"
        i18n="@@connection_settings_tab_api_key_enable_production_label"
      >
        Enable Production
      </mat-checkbox>
      &nbsp;
      <mat-checkbox
        formControlName="envTest"
        required
        color="{{ config }}"
        i18n="@@connection_settings_tab_api_key_enable_test_label"
      >
        Enable Test
      </mat-checkbox>
    </p>
  </form>
</div>
