<mat-toolbar>
  <mat-toolbar-row>
    <div
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayoutGap="10px"
      fxFlexFill
    >
      <div fxFlex="170px">
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="connection"
        >
          <mat-icon>power_setting_new</mat-icon>
          Connection Menu
        </button>
        <mat-menu
          #connection="matMenu"
        >
          <button mat-menu-item (click)="openSettingsModal($event)">
            <mat-icon>settings</mat-icon>
            <span>Configuration</span>
          </button>
          <button mat-menu-item (click)="connectProduction($event)">
            <mat-icon>flash_on</mat-icon>
            <span>Connect Production</span>
          </button>
          <button mat-menu-item (click)="connectTest($event)">
            <mat-icon>flash_on</mat-icon>
            <span>Connect Test</span>
          </button>
          <button mat-menu-item (click)="disconnectApi($event)">
            <mat-icon>flash_off</mat-icon>
            <span>Disconnect</span>
          </button>
        </mat-menu>
      </div>
      <div fxFlex="170px">
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="market"
        >
          <mat-icon>timeline</mat-icon>
          Market Menu
        </button>
        <mat-menu
          #market="matMenu"
        >
          <button mat-menu-item (click)="openMarketModal($event)">
            <mat-icon>settings</mat-icon>
            <span>Configuration</span>
          </button>
          <button mat-menu-item (click)="openMarketModal($event)">
            <mat-icon>flash_on</mat-icon>
            <span>Connect Market</span>
          </button>
          <button mat-menu-item (click)="disconnectMarket($event)">
            <mat-icon>flash_off</mat-icon>
            <span>Disconnect Market</span>
          </button>
        </mat-menu>
      </div>
      <div fxFlex="170px">
        <pb-pwa-install></pb-pwa-install>
      </div>
      <div fxFlex="100">
        <fg-actions [entity]="this"></fg-actions>
      </div>
      <div fxFlex="40px">
        <pb-switch-day-night [entity]="this.entity"></pb-switch-day-night>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
