<mat-toolbar>
  <mat-toolbar-row>
    <div
      fxLayout="row"
      fxLayoutAlign="space-around center"
      fxLayoutGap="10px"
      fxFlexFill
    >
      <div fxFlex="10 100px">
        <button
          mat-raised-button
          color="primary"
          [matMenuTriggerFor]="connection"
        >
          <mat-icon>power_setting_new</mat-icon>
          Connection Menu
        </button>
        <mat-menu
          #connection="matMenu"
        >
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>flash_off</mat-icon>
            <span>Disconnect</span>
          </button>
        </mat-menu>
      </div>
      <div fxFlex="10 100px">
        <button
          mat-raised-button
          color="primary"
          [matMenuTriggerFor]="market"
        >
          <mat-icon>timeline</mat-icon>
          Market Menu
        </button>
        <mat-menu
          #market="matMenu"
        >
          <button mat-menu-item>
            <mat-icon>flash_on</mat-icon>
            <span>Login</span>
          </button>
          <button mat-menu-item>
            <mat-icon>flash_off</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
      <div fxFlex="80">
        <fg-actions [entity]="this.entity"></fg-actions>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
