<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
      <div fxFlex="164px">
        <img class="pb-header-logo" alt="Power Logo" src="./assets/powerbot_logo.png"/>
      </div>
      <div fxFlex="150px">
        <p class="pb-header-label">
          by Inercom
        </p>
      </div>
      <div fxFlex="100">
        <pb-bar-status></pb-bar-status>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="secondary">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
      <div fxFlex="90">
      </div>
      <div fxFlex="10 30px">
        <pb-switch-day-night></pb-switch-day-night>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
