<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayoutGap="10px"
      fxFlexFill>
      <div fxFlex="10 150px">
        <img class="pb-header-logo" alt="PowerBot Logo" src="./assets/powerbot_logo.png"/>
      </div>
      <div fxFlex="10 100px">
        <!-- <mat-select class="delivery_area_select" [(ngModel)]="selected2"> -->
      <!-- <mat-form-field>
        <mat-select class="delivery_area_select" *ngIf="this.$component.$data.market.available_delivery_area_ids">
          <mat-option *ngFor="let market of this.$component.$data.market.available_delivery_area_ids" [value]="market">
            {{market}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      </div>
      <div fxFlex="70">
        <pb-bar-state [entity]="this.entity"></pb-bar-state>
      </div>
      <div fx-flex="10 150px">
        <fg-actions [entity]="this" (event)="handleActionBarEvent($event)"></fg-actions>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

