.dashboard-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 10px 0 10px 0;
}

.dashboard-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dashboard-card-menu-button {
  position: absolute;
  top: 5px;
  right: 10px;
}
