<div class="pb-tab tab-test">
  <form class="tab-test-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
  >
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label i18n="@@connection_settings_tab_test_test_server_label">Test Server Url</mat-label>
        <input
          matInput
          i18n-placeholder="@@connection_settings_tab_test_test_server_placeholder"
          placeholder="like: https://playground.powerbot-trading.com/api/v0"
          formControlName="serverUrl"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint i18n="@@connection_settings_tab_test_test_server_hint">Url to the PowerBot Trading API</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label i18n="@@connection_settings_tab_test_api_key_label">API Key</mat-label>
        <input
          matInput
          i18n-placeholder="@@connection_settings_tab_test_api_key_placeholder"
          placeholder="Like: **************"
          formControlName="apiKey"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint i18n="@@connection_settings_tab_test_api_key_hint">The Api Key you received from PowerBot Trading</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox
        formControlName="store"
        (change)="clearStore($event)"
      >
        <ng-container i18n="@@connection_settings_tab_test_cache_label">
          Store Configuration
        </ng-container>
      </mat-checkbox>
    </p>
  </form>
</div>
