<div class="pb-tab tab-test">
  <form class="tab-test-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
  >
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>input_label_test_url</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_test_url' | translate }}"
          formControlName="serverUrl"
          required
        >
        <pb-icon-validation matSuffix [entity]="this.form.controls.serverUrl.status"></pb-icon-validation>
        <mat-hint translate>input_hint_test_url</mat-hint>
        <mat-error>{{getServerUrlErrorMessage(this.form.controls.serverUrl)}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>input_label_api_key</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_api_key' | translate }}"
          formControlName="apiKey"
          required
        >
        <pb-icon-validation matSuffix [entity]="this.form.controls.apiKey.status"></pb-icon-validation>
        <mat-hint translate>input_hint_test_api_key</mat-hint>
        <mat-error>{{getApiErrorMessage(this.form.apiKey)}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox
        formControlName="store"
        (change)="clearStore($event)"
      >
        <ng-container>{{ 'checkbox_label_cache' | translate}}</ng-container>
      </mat-checkbox>
    </p>
  </form>
</div>
