<mat-card>
  <mat-card-header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
          <mat-card-title>
            Card Header
            {{card.title}}
            <button
              class="dashboard-card-menu-button"
              mat-icon-button
              [matMenuTriggerFor]="cardMenu"
              aria-label="Toggle menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #cardMenu="matMenu" xPosition="before">
              <button mat-menu-item>
                <mat-icon>open_in_new</mat-icon>
                <span>Open Window</span>
              </button>
              <button mat-menu-item>
                <mat-icon>tab</mat-icon>
                <span>Open Tab</span>
              </button>
              <button mat-menu-item>
                <mat-icon>print</mat-icon>
                <span>Print</span>
              </button>
            </mat-menu>
          </mat-card-title>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-footer>
    Footer
  </mat-card-footer>
</mat-card>
