<fg-card [entity]="this.entity" class="modal_login">
  <div title>
<img class="pb-header-logo" height="60px" alt="PowerBot Logo" src="./assets/powerbot_logo.png" />&nbsp;<pb-pwa-install></pb-pwa-install>
  </div>
  <div content>
    <mat-tab-group #tabGroup color="{{ inputThemeColor }}" [selectedIndex]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
      <mat-tab label="{{ 'tab_label_production' | translate }}">
        <pb-tab-production #tabProduction [config]="inputThemeColor"></pb-tab-production>
      </mat-tab>
      <mat-tab label="{{ 'tab_label_test' | translate }}">
        <pb-tab-test #tabTest [config]="inputThemeColor"></pb-tab-test>
      </mat-tab>
      <mat-tab label="{{ 'tab_label_logging' | translate }}">
        <pb-tab-logging #tabLogging [config]="inputThemeColor"></pb-tab-logging>
      </mat-tab>
      <mat-tab label="{{ 'tab_label_api_key' | translate }}">
        <pb-tab-api-key #tabApi [config]="inputThemeColor"></pb-tab-api-key>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div actions>
    <button mat-raised-button color="accent" (click)="action($event)">
      <!-- [disabled]="isDisabled()" -->
      {{ getModalActionBtnLabel() | async }}
    </button>
  </div>
</fg-card>
