<fg-card [entity]="this.entity" class="modal_login">
  <div title>
  <div
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <div fxFlex="1 1 100px">
      <img
        class="pb-header-logo"
        height="60px"
        alt="PowerBot Logo"
        src="./assets/powerbot_logo.png"
      />
    </div>
    <div fxFlex=""></div>
    <!-- <div fxFlex="1 1 60px">
      <button mat-fab color="primary"><mat-icon>help_outline</mat-icon></button>
    </div> -->
  </div>
  </div>
  <div content>
  <br/>
  <mat-horizontal-stepper #stepper labelPosition="bottom">
    <mat-step [stepControl]="tabProduction.form" [completed]="tabProduction.form.valid">
      <ng-template matStepLabel>
        {{ 'tab_label_production' | translate }}
        <pb-icon-validation [entity]=""></pb-icon-validation>
      </ng-template>
      <pb-tab-production #tabProduction [config]="inputThemeColor"></pb-tab-production>
      <div fxFlexLayout="row">
        <div fxFlex=""></div>
        <button fxFlex="150px" mat-stroked-button matStepperNext>
          Next
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="tabTest.form" [completed]="tabTest.form.valid">
      <ng-template matStepLabel>
        {{ 'tab_label_test' | translate }}
        <pb-icon-validation [entity]=""></pb-icon-validation>
      </ng-template>
      <pb-tab-test #tabTest [config]="inputThemeColor"></pb-tab-test>
      <div fxFlexLayout="row">
        <button fxFlex="150px" mat-stroked-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
          Previous
        </button>
        <div fxFlex=""></div>
        <button fxFlex="150px" mat-stroked-button matStepperNext>
          Next
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="tabLogging.form" [optional]="true" [completed]="tabLogging.form.valid">
      <ng-template matStepLabel>
        {{ 'tab_label_logging' | translate }}
        <pb-icon-validation [entity]=""></pb-icon-validation>
      </ng-template>
      <pb-tab-logging #tabLogging [config]="inputThemeColor"></pb-tab-logging>
      <div>
        <button mat-stroked-button matStepperPrevious>
          <mat-icon>navigate_before</mat-icon>
          Previous
        </button>
      </div>
    </mat-step>
    <!-- <ng-template matStepperIcon="1">
      <mat-icon>timeline</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="2">
      <mat-icon>build</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="3">
      <mat-icon>cast</mat-icon>
    </ng-template> -->
    <ng-template matStepperIcon="complete">
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
  <!-- <pb-tab-api-key #tabApi [config]="inputThemeColor"></pb-tab-api-key> -->
  </div>
  <div actions>
    <br/>
    <div fxFlexLayout="row">
      <pb-pwa-install fxFlex="150px"></pb-pwa-install>
      <div fxFlex=""></div>
      <button fxFlex="150px"
        mat-raised-button
        color="accent"
        [disabled]="( actionDisabled$ | async )"
        (click)="action($event)"
      >
        {{ actionLabel$ | async }}
      </button>
    </div>
  </div>
</fg-card>
