<pb-modal [entity]="this.entity">
  <div title translate>
    Market Login
  </div>
  <div content>
    <div class="modal-login">
      <mat-tab-group
        color="{{ inputThemeColor }}"
      >
        <mat-tab label="Login">
          <div class="pb-tab tab-test">
            <form
              class="modal-login-form"
              [formGroup]="form"
              (ngSubmit)="action($event)"
              >
              <!-- [formGroup]="form" -->
              <p>
                <mat-form-field appearance="fill" color="{{ inputThemeColor }}">
                  <mat-label translate>Epex</mat-label>
                  <input
                    matInput
                    placeholder="{{ 'like: 2434234' | translate }}"
                    formControlName="epexPass"
                    required
                  >
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint translate>The password for connection to Epex service</mat-hint>
                </mat-form-field>
              </p>
              <p>
                <mat-checkbox
                  formControlName="store"
                  translate
                >
                  Store Configuration
                </mat-checkbox>
              </p>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div actions>
    <button
      mat-flat-button
      color="primary"
      (click)="closeModal($event)"
      translate
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="action($event)"
      translate
    >
      Login
    </button>
  </div>
</pb-modal>
