<pb-modal [entity]="this.entity">
  <div title>
    Market Login
  </div>
  <div content>
    <div class="modal-login">
      <mat-tab-group
        color="{{ color }}"
      >
        <mat-tab label="Login">
          <div class="pb-tab tab-test">
            <form
              class="modal-login-form"
              [formGroup]="options"
              (ngSubmit)="createMarketConfig( $event )"
            >
              <p>
                <mat-form-field appearance="fill" color="{{ color }}">
                  <mat-label>Market</mat-label>
                  <input
                    matInput
                    placeholder="like: 2434234"
                    formControlName="market"
                    required
                  >
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-hint>The password for connection to Epex service</mat-hint>
                </mat-form-field>
              </p>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div actions>
    <button
      mat-flat-button
      color="primary"
      (click)="saveMarket($event)"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="saveMarket($event)"
    >
      Login
    </button>
  </div>
</pb-modal>
