<pb-modal [entity]="this.entity">
  <div title i18n="@@add-order_modal_label">
    Order
  </div>
  <div content>
    <mat-tab-group color="{{ this.inputThemeColor }}">
      <mat-tab label="Add Orders">
        <pb-table-add-order
          [entity]="data"
        >
        </pb-table-add-order>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div actions>
    <button
      mat-flat-button
      color="primary"
      (click)="closeModal($event)"
      i18n="@@add_order_modal_cancel_button_label"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="saveSettings($event)"
      i18n="@@add_order_modal_add_button_label"
    >
      Add
    </button>
  </div>
</pb-modal>
