<mat-toolbar
  color="primary"
 class="modal-header"
>
  <mat-toolbar-row>
    <h2>
      <ng-content select="[title]"></ng-content>
    </h2>
    <button
      class="modal-btn-close"
      mat-fab
      matTooltip="Close Modal"
      color="accent"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<ng-content select="[content]"></ng-content>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <ng-content select="[actions]"></ng-content>
  </mat-toolbar-row>
</mat-toolbar>
