.modal {
  width: '80%';
  max-width: '800px';
}
.modal-btn-close {
  position: absolute;
  right: -15px;
  top: -15px;
}
.modal-header {
  position: relative;
}
.modal-content {
  padding: 15px;
  min-height: 65%;
  position: relative;
  box-shadow: none;
}
