<mat-toolbar class="footer" color="primary">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
      <div fxFlex="164px 30px">
        <a mat-button href="https://forgetech.github.io/">
          &copy; 2018
          &nbsp;
          <img height="16px" alt="ForgeTech Logo" src="./assets/forgetech/logo--small.png" />
          &nbsp;
          <img height="16px" alt="ForgeTech Text" src="./assets/forgetech/text--small.png" />
        </a>
      </div>
    <div fxFlex="">
    </div>
    <div fxFlex="300px 30px">
      <a mat-button href="https://creativecommons.org/licenses/by-nc/3.0/at/">
        <img height="25px" alt="Licence BY-NC Logo" src="./assets/licence/by-nd.png" />
        Licenced under BY-NC 3.0 AT
      </a>
    </div>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
