<mat-toolbar class="footer" color="primary">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlexFill>
      <div fxFlex="164px 30px">
        <a mat-button href="https://forgetech.github.io/">
          &copy; 2018
          &nbsp;
          <img height="16px" alt="{{ 'forgetech_logo' | translate }}" src="./assets/forgetech/logo--small.png" />
          &nbsp;
          <img height="16px" alt="{{ 'forgetech_text' | translate }}" src="./assets/forgetech/text--small.png" />
        </a>
      </div>
    <div fxFlex="">
    </div>
    <div fxFlex="300px 30px">
      <a mat-button href="{{ 'link_license' | translate }}">
        <img height="25px" alt="{{ 'licence_logo_alt' | translate }}" src="./assets/licence/by-nd.png" />
        <ng-container translate>licence_text</ng-container>
      </a>
    </div>
  </div>
  </mat-toolbar-row>
</mat-toolbar>
