<div
  class="fg-actions"
  fxLayout="row"
  fxLayoutAlign="end center"
  fxLayoutGap="5px"
  fxFlexFill
>
  <ng-container *ngIf="this.entity && this.entity.actions">
    <!-- {{ this.entity.constructor.name }}:&nbsp;&nbsp; -->
    <div fxFlex="50px" *ngFor="let action of this.entity.actions">
      <button
        mat-mini-fab
        matBadge="{{action.key}}"
        matBadgePosition="below after"
        matBadgeColor="primary"
        matTooltip="{{action.label}}"
        color="{{action.color}}"
        (click)="this.handleChildEvents(action.event)"
      >
        <!-- disabled="this.getDisabledState()" -->
        <mat-icon>{{ action.icon }}</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
