<ngx-datatable
  class="datatable material"
  [rows]="entity"
  [columns]="config.columns"
  [columnMode]="config.columnMode"
  [headerHeight]="config.headerHeight"
  [rowHeight]="config.rowHeight"
  [footerHeight]="config.footerHeight"
  [rowHeight]="config.rowHeight"
  [scrollbarV]="config.scrollbarV"
  [scrollbarH]="config.scrollbarH"
  [selectionType]="config.selectionType"
  [selected]="selected"
  [limit]="config.limit"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  ></ngx-datatable>

<ng-template
  #headerTmpl
  let-value="value"
  let-column="column"
  let-row="row"
>
  {{ column.name | translate }}
</ng-template>
<ng-template
  #cellTmpl
  let-row="row"
  let-column="column"
  let-value="value"
>
  {{ value }}
</ng-template>
