<ngx-datatable
  class="datatable material"
  [rows]="entity"
  [columns]="columns"
  [columnMode]="config.columnMode"
  [headerHeight]="config.headerHeight"
  [rowHeight]="config.rowHeight"
  [footerHeight]="config.footerHeight"
  [rowHeight]="config.rowHeight"
  [scrollbarV]="config.scrollbarV"
  [scrollbarH]="config.scrollbarH"
  [selectionType]="config.selectionType"
  [selected]="selected"
  [limit]="config.limit"
  [rowClass]="getRowClass"
  (select)="onSelect($event)"
></ngx-datatable>

<ng-template
  #headerTmpl
  let-value="value"
  let-column="column"
  let-row="row"
>
    {{ column.name | translate }}
</ng-template>
<ng-template
  #cellTmpl
  let-row="row"
  let-column="column"
  let-value="value"
>
  {{ value }}
</ng-template>
<ng-template
  #dateCellTmpl
  let-row="row"
  let-column="column"
  let-value="value"
>
  {{ value | date:column.dateFormat }}
</ng-template>
<ng-template
  #sideCellTmpl
  let-row="row"
  let-column="column"
  let-value="value"
>
  {{ row | pbSidePipe }}
</ng-template>
<ng-template
  #noteCellTmpl
  let-row="row"
  let-column="column"
  let-value="value"
>
  <mat-icon
    matTooltip="{{ value }}"
    matTooltipPosition="after"
    color="accent">
    message
  </mat-icon>
</ng-template>
