<pb-modal
  [entity]="this.entity">
  <div title>
      {{ modalGenApiKeyHeadline$ | async }}
  </div>
  <div content
  >
  <!-- [ngSwitch]="true" -->
    <!-- <some-element *ngSwitchCase="match_expression_1">

    </some-element> -->
    <pb-loading-indicator></pb-loading-indicator>
    <pb-tab-api-key
      #tabApiKey
      [entity]="data">
    </pb-tab-api-key>
    <!-- *ngSwitchDefault -->
  </div>
  <ng-container actions>
    <div fxFlex="1 1 auto"></div>
    <button
      fxFlex="150px"
      mat-raised-button
      color="accent"
      [disabled]="( actionDisabled$ | async )"
      (click)="this.tabApiKey.action( $event )">
      Generate Api-Key
    </button>
  </ng-container>
</pb-modal>
