<pb-modal [entity]="this.entity">
  <div title translate>
    Generate ApiKey
  </div>
  <div content>
    <pb-tab-api-key></pb-tab-api-key>
  </div>
  <div actions>
    <div fxFlexLayout="row">
      <div fxFlex=""></div>
      <button fxFlex="150px"
        mat-raised-button
        color="accent"
        [disabled]="( actionDisabled$ | async )"
        (click)="this.tabComponents[ stepper.selectedIndex ].action( $event )"
        >
        {{ actionLabel$ | async }}
      </button>
    </div>
  </div>
</pb-modal>
