.fg-project {
  &:before {
    content: 'fg-project';
  }
}

.fg-view {
  &:before {
    content: 'fg-view';
  }
}

.fg-state {
  &:before {
    content: 'fg-state';
  }
}

.fg-level {
  &:before {
    content: 'fg-level';
  }
}

.fg-layout {
  &:before {
    content: 'fg-layout';
  }
}

.fg-position {
  &:before {
    content: 'fg-position';
  }
}

.fg-content {
  &:before {
    content: 'fg-content';
  }
}

.fg-dynamic {
  &:before {
    content: 'fg-dynamic';
  }
}
