/* Make sure html, body ( if available ) and .fg-project-component
 * take up full-screen, hide content which is overflowing the container
 * and have margins and paddings set to zero.
 */

*:focus {
  margin: 3px;
  outline: #00FF00 dotted 3px;
}

.fg-project {
  border: 4px solid red;
}

.fg-view {
  border: 4px solid orange;
}

.fg-state {
  border: 4px solid blueviolet;
}

.fg-level {
  border: 4px solid green;
}

.fg-layout {
  border: 4px solid blue;
}

.fg-position {
  border: 4px solid yellow;
}

.fg-content {
  border: 4px solid purple;
}

.fg-dynamic {
  border: 4px solid lime;
}
