/* Make sure html, body ( if available ) and .fg-project-component
 * take up full-screen, hide content which is overflowing the container
 * and have margins and paddings set to zero.
 */
html,
body {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    overflow: scroll;
}

/* Make sure all forge-components are calculated using
 * the border-box box-model
 */
.fg-project,
.fg-view,
.fg-state,
.fg-dynamic,
.fg-level,
.fg-layout,
.fg-position,
.fg-content {
  position: relative;
  box-sizing: border-box;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-size: 12px;
  // pointer-events: none;
}

.fg-layout,
.fg-content {
  &:focus {
    margin: -3px;
    outline: 3px dotted yellow;
    opacity: 0.8;
    // color: black; // https://codepen.io/chriscoyier/pen/dDhHe
    background: repeating-linear-gradient( 45deg, transparent, transparent 10px, yellow 10px, transparent 20px);
  }
}

body {
  // background-size: auto 90%;
  // background-position: 50% 50%;
  background-color: darkslateblue;
}

nav > ul {
  list-style: none;
}

.fg-demo .fg-view {
  background-image: url('./assets/images/forgetech/layout.jpg');
  background-repeat: no-repeat;
  // background-size: 100% auto;
  background-position: 50% 0;
  min-width: 100%;
  min-height: 100%;
}
