.fg-img dropzone {
  position: relative;
}
.fg-img .mat-icon {
  position: absolute;
  color: darkslateblue;
  // center icon vertically
  // https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.fg-img dropzone > .dropzone.dz-wrapper {
  overflow: hidden;
  color: yellow;
}
.fg-img dropzone > .dropzone.dz-wrapper .dz-message {
  margin: 0;
  border-color: darkslateblue;
  background-color: yellow;
  color: black;
}
