@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';

.datatable-body-cell,
.datatable-header-cell {
  padding: 3px 10px 5px !important;
  font-size: 11px !important;
}
.datatable-header-cell {
  background-color: $mat-grey-400;
}
.datatable-body-row {
  border-right: 1px solid $mat-grey-300;
}
.datatable-body-cell {
  color: $mat-grey-300;
  border-left: 1px solid $mat-grey-300;
  border-bottom: 1px solid $mat-grey-300;
}

.pb-dark-theme {
  .datatable {
    background-color: $mat-grey-800;
    .datatable-header-cell {
      background-color: $mat-grey-400;
    }
    .datatable-body-cell {
      color: $white !important;
      border: none;
      border-left: 1px dotted $mat-grey-100;
      border-bottom: 1px dotted $mat-grey-100;
    }
  }
  .datatable-body-row {
    // border-right: 1px dotted $mat-grey-100;
  }
}
