@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';

.datatable-body-cell,
.datatable-header-cell {
  padding: 3px 10px 5px !important;
  font-size: 11px !important;
}
.datatable-header-cell {
  background-color: $mat-grey-300;
}
.datatable-body-row {
  border-right: 1px solid $mat-grey-300;
}
.inactive-row {
  background-color: $mat-grey-500;
  pointer-events: none;
}
.datatable-body-cell {
  color: $mat-grey-300;
  border-left: 1px solid $mat-grey-300;
  border-bottom: 1px solid $mat-grey-300;
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
    background-color: $mat-teal-50;
}
.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: $mat-teal-100;
  &:hover {
    background-color: $mat-teal-100;
  }
}

.pb-dark-theme {
  .datatable {
    background-color: $mat-grey-800;
    .datatable-header-cell {
      color: $white !important;
      background-color: $mat-grey-600;
    }
    .datatable-body-cell {
      color: $white !important;
      border: none;
      border-left: 1px dotted $mat-grey-100;
      border-bottom: 1px dotted $mat-grey-100;
    }
  }
  .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
  .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
      background-color: $mat-teal-800;
  }
  .ngx-datatable.material.single-selection .datatable-body-row.active,
  .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
  .ngx-datatable.material.multi-selection .datatable-body-row.active,
  .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
  .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
  .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
    background-color: $mat-teal-600;
    &:hover {
      background-color: $mat-teal-700;
    }
  }
}
