html,
body {
  display: block;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

// *:focus {
  //   margin: 3px;
  //   outline: #00FF00 dotted 3px;
  // }
