html,
body {
  display: block;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

// *:focus {
//   margin: 3px;
//   outline: #00FF00 dotted 3px;
// }

.pb-panel .mat-dialog-container {
  margin: -25px;
  border-radius: 10px;
}
.pb-panel .mat-tab-body-content {
  padding-left: 10px;
  padding-right: 10px;
}

// .mat-menu-panel {
//   width: 170px;
// }
