html,
body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
}
body {
  overflow-x: scroll;
  overflow-y: scroll;
}
.pb-panel .mat-dialog-container {
  margin: -25px;
  border-radius: 10px;
}
.pb-panel .mat-tab-body-content {
  padding-left: 10px;
  padding-right: 10px;
}
