@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();


// Define the default theme (same as the example above).
// $light-primary: mat-palette($mat-indigo);
// $light-accent: mat-palette($mat-pink, A200, A100, A400);
// $light-theme: mat-light-theme($light-primary, $light-accent);
$light-primary: mat-palette($mat-blue-grey, 100);
$light-accent: mat-palette($mat-teal, A700, 500, 800);
$light-warn: mat-palette($mat-orange, A400);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
$light-body: $light-grey;
$light-modal: $white;

// Include the default theme styles.
@include angular-material-theme($light-theme);

// Override default theme styles
body {
  background-color: $light-body;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.mat-card {
  background-color: #cfd8dc;
}
.btn-bar {
  .mat-mini-fab {
    box-shadow: none !important;
    background-color: transparent !important;
    .mat-icon {
      color: $black;
    }
  }
}
.delivery_area_select {
  background-color: $mat-white;
}
.mat-dialog-container {
  background-color: transparent !important;
  box-shadow: none !important;
}
.mat-menu-item {
  background-color: transparent !important;
}
.modal-content {
  background-color: $light-modal;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2),
  0 24px 38px 3px rgba(0, 0, 0, .14),
  0 9px 46px 8px rgba(0, 0, 0, .12);
}
.mat-tooltip-prettyjson {
  white-space: pre;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-warn,
.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent,
.mat-checkbox .mat-icon
.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  &.mat-warn,
  &.mat-accent {
    color: $white;
  }
}

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.pb-dark-theme {
  // Define an alternate dark theme.
  $dark-primary: mat-palette($mat-blue-grey, 800);
  $dark-accent : mat-palette($mat-teal, 400, A100, A400);
  $dark-warn : mat-palette($mat-orange, A200);
  $dark-theme : mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  $dark-body: $light-grey;
  $dark-modal: $dark-grey;
  @include angular-material-theme($dark-theme);
  body {
    background-color: $dark-body;
  }
  .btn-bar {
    .mat-mini-fab {
      .mat-icon {
        color: $white
      }
    }
  }
  .modal-content {
    background-color: $dark-modal;
    color: $white;
  }
  .mat-chip.mat-standard-chip.mat-chip-selected.mat-warn,
  .mat-chip.mat-standard-chip.mat-chip-selected.mat-accent,
  .mat-checkbox .mat-icon
  .mat-flat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-mini-fab {
    &.mat-warn,
    &.mat-accent {
      color: $white;
    }
  }
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: $darker-grey;
  }
}
