@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent);
$light-body: #929292;
$light-modal: #fff;

// Include the default theme styles.
@include angular-material-theme($light-theme);

// Override default theme styles
.mat-dialog-container {
  background-color: transparent !important;
  box-shadow: none !important;
}
.modal-content {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2),
  0 24px 38px 3px rgba(0, 0, 0, .14),
  0 9px 46px 8px rgba(0, 0, 0, .12);
}
.mat-menu-item {
  background-color: transparent !important;
}

//
.pb-light-theme {
  body {
    background-color: $light-body;
  }
  .modal-content {
    background-color: $light-modal;
  }
}
// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.pb-dark-theme {
  // Define an alternate dark theme.
  $dark-primary: mat-palette($mat-blue-grey);
  $dark-accent : mat-palette($mat-amber, A200, A100, A400);
  $dark-warn : mat-palette($mat-deep-orange);
  $dark-theme : mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
  $dark-body: #595959;
  $dark-modal: #525252;
  @include angular-material-theme($dark-theme);
  body {
    background-color: $dark-body;
  }
  .modal-content {
    background-color: $dark-modal;
    color: white;
  }
}
