@import '@swimlane/ngx-datatable/release/index.css';
@import '@swimlane/ngx-datatable/release/themes/material.css';
@import '@swimlane/ngx-datatable/release/assets/icons.css';

.ngx-datatable.material {
  position: absolute;
  top: 55px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  box-shadow: none;
}
