<div class="pb-tab tab-production">
  <form
    class="tab-production-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
  >
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>input_label_production_url</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_production' | translate }}"
          formControlName="serverUrl"
          required
        >
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint translate>input_hint_production_url</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>input_label_backup_url</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_backup' | translate }}'"
          formControlName="backupUrl"
          required
        >
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint translate>input_hint_backup_url</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>input_label_api_key</mat-label>
        <input
          matInput
          placeholder="{{ 'input_placeholder_api_key' | translate }}'"
          formControlName="apiKey"
          required
        >
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint translate>input_hint_production_api_key</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox
        formControlName="store"
        (change)="clearStore($event)"
      >
      {{ 'checkbox_label_cache' | translate }}
      </mat-checkbox>
    </p>
  </form>
</div>
