<ng-container *ngIf="entity && entity.contracts && config">
  <pb-table [entity]="entity.contracts" [config]="config" >
  </pb-table>
</ng-container>

<div class="btn-bar">
  <button
    mat-mini-fab
    matTooltip="Remove amount"
    (click)="removeAmount($event)"
    >
    <mat-icon>remove</mat-icon>
  </button>
  <button
    mat-mini-fab
    matTooltip="Add amount"
    (click)="addAmount($event)"
  >
    <mat-icon>add_box</mat-icon>
  </button>
  <button
    mat-mini-fab
    matTooltip="Add double amount"
    (click)="addDoubleAmount($event)"
  >
    <mat-icon>library_add</mat-icon>
  </button>
  <mat-select placeholder="Market">
    <mat-option *ngFor="let market of ['market1','market2']" [value]="market">
      {{market}}
    </mat-option>
  </mat-select>
</div>
