
<div class="pb-tab tab-logging">
  <form
    class="tab-logging-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
  >
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>Remote Log-Server Url</mat-label>
        <input
          matInput
          placeholder="{{ 'like: https://powerbot-trading/api/logs' | translate }}"
          formControlName="logUrl"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint translate>Url to remote log-server</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <!-- <mat-form-field> -->
        <mat-label translate>Remote Log-Level</mat-label>
        <mat-select
          placeholder="{{ 'like: Debug' | translate }}"
          formControlName="logLevel"
          required
        >
          <mat-option *ngFor="let level of logLevels | fgEnum; let i = index" [value]="i">
            {{level}}
          </mat-option>
        </mat-select>
        <mat-hint translate>Only matching logs will be sent to remote log-server</mat-hint>
      <!-- </mat-form-field> -->
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label translate>Vorlon Debug-Server URL</mat-label>
        <input
          matInput
          placeholder="{{ 'like: https://powerbot-trading/api/logs' | translate }}"
          formControlName="debugUrl"
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint translate>Url to remote log-server</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox
        formControlName="store"
        (change)="clearStore($event)"
        translate
      >
        Store Configuration
      </mat-checkbox>
    </p>
  </form>
</div>
