
<div class="pb-tab tab-logging">
  <form
    class="tab-logging-form"
    [formGroup]="form"
    (ngSubmit)="action( $event )"
  >
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label>Remote Log-Server Url</mat-label>
        <input
          matInput
          placeholder="like: https://powerbot-trading/api/logs"
          formControlName="logUrl"
          required
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Url to remote log-server</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Remote Log-Level</mat-label>
        <mat-select
          placeholder="like: Debug"
          formControlName="logLevel"
          required
        >
          <mat-option *ngFor="let level of logLevels | fgEnum" [value]="level">
            {{level}}
          </mat-option>
        </mat-select>
        <mat-hint>Only matching logs will be sent to remote log-server</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field
        appearance="fill"
        color="{{ config }}"
      >
        <mat-label>Vorlon Debug-Server URL</mat-label>
        <input
          matInput
          placeholder="like: https://powerbot-trading/api/logs"
          formControlName="debugUrl"
        >
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Url to remote log-server</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-checkbox
        formControlName="store"
      >
        Store Configuration
      </mat-checkbox>
    </p>
  </form>
</div>
