{
    "swagger": "2.0",
    "info": {
        "description": "# TERMS AND CONDITIONS\nThe Powerbot Trading REST API provide B2B services for trading with the EPEX intraday market. By using the Powerbot Trading REST API , each user agrees to the terms and conditions of this licence:\n1. The user will comply with the [EPEX Spot Market Rules](https://www.epexspot.com/en/extras/download-center/documentation) and will not endanger the EPEX system (M7) at any time with heavy load from trading algorithms.\n2. The user is aware of the OTR limits by EPEX\n\n# INTRODUCTION\nThe Powerbot-Trading Api is a web-based software service enabling algorithmic trading on power exchanges such as EPEX, HUPX or BSP Southpool. \nThe service is straightforward to integrate in an existing software environment and provides a variety of programming interfaces for development of \nindividual trading algorithms and software tools. Besides enabling a fully automated intraday trading strategy, \nPowerBot can be used to create support tools for traders providing relevant information and trading opportunities.\n\nFor further details see http://powerbot-trading.com\n\nIn addition to this API guide, there is a [playground](https://playground.powerbot-trading.com) where you can try out the API calls directly from your web browser. \nIn order to access the playground, you will need an API key which you can request from Inercomp. Please contact us at helmut.spindler@inercomp.com   \n## Endpoints\nThe Powerbot Trading REST API is available at the following REST endpoints:\n\n| Instance                | Base URL for REST Endpoints                     |\n|-------------------------|-------------------------------------------------|\n| Test                    | https://playground.powerbot-trading.com/api/v0  |\n| Staging, Production     | Provided on request                     |\n\nAccess to endpoints is secured via an API Key, which needs to be passed as an  \"api_key\" header in each request.\n  \n Notes on API Keys:\n * API keys are specific to Test, Staging or Production.\n * An API key is associated with a user account and needs to requested. Please contact us by email at helmut.spindler@inercomp.com to request an API key.\n\n## Errors\nThe API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be in JSON format as follows:\n\n```\n{\n  \"message\": \"... an error message ...\"\n}\n```\n\n## Paging\nThe API uses offset and limit parameters for paged operations. An X-Total-Count header is added to responses to indicate the total number of items in a paged response. \n  \n## Cross-Origin Resource Sharing\nThis API features Cross-Origin Resource Sharing (CORS) implemented in compliance with  [W3C spec](https://www.w3.org/TR/cors/).\nThis allows cross-domain communication from the browser.\nAll responses have a wildcard same-origin which makes them completely public and accessible to everyone, including any code on any site.\n\n## Additional code samples\nAdditional information and code samples demonstrating the use of the API can be found at https://github.com/powerbot-trading/python-samples.",
        "version": "1.1.0",
        "title": "Powerbot-Trading Api",
        "x-logo": {
            "url": "http://www.powerbot-trading.com/comingsoon/powerbot_logo.png"
        }
    },
    "host": "playground.powerbot-trading.com:443",
    "basePath": "/api/v0",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "security": [{
        "api_key_security": []
    }],
    "paths": {
        "/authentication": {
            "post": {
                "tags": ["Authentication"],
                "summary": "Create a new api_key",
                "description": "Use this method to generate a new api_key for your trading algorithm, signal import, etc. \nRequires that you are authenticated with your master api_key which you'll get once your private \nPowerbot trading access has been configured.",
                "operationId": "addApiKey",
                "parameters": [{
                    "in": "body",
                    "name": "value",
                    "required": true,
                    "schema": {
                        "required": ["name"],
                        "properties": {
                            "name": {
                                "type": "string",
                                "example": "MY_TRADING_API_KEY",
                                "description": "A name for the API key, i.e. \"TRADING_API_KEY\""
                            },
                            "epex_password": {
                                "type": "string",
                                "example": "__password__",
                                "description": "Your EPEX password which you have received from the POWERSPOT market operation team."
                            },
                            "can_trade": {
                                "type": "boolean",
                                "description": "Set to true, if the api_key should be able to trade."
                            },
                            "can_signal": {
                                "type": "boolean",
                                "description": "Set to true, if the api_key should be allowed to submit signals"
                            }
                        },
                        "x-swagger-router-model": "ApiKeyDescription"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "MY_TRADING_API_KEY"
                                },
                                "value": {
                                    "type": "string",
                                    "example": "63c7f8fe-5b67-4d36-96b2-56613e67a25d"
                                }
                            },
                            "required": ["value"],
                            "x-swagger-router-model": "ApiKey"
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/logs": {
            "get": {
                "tags": ["Logs"],
                "summary": "Retrieves log entries",
                "description": "Retrieves log entries which you have submitted earlier with 'addLogEntry'",
                "operationId": "getLogs",
                "parameters": [{
                    "name": "offset",
                    "in": "query",
                    "description": "Offset when loading a list of items",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "format": "int32"
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "Limits the number of loaded items",
                    "required": false,
                    "type": "integer",
                    "default": 50,
                    "format": "int32"
                }, {
                    "name": "severity_at_least",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "default": "MED",
                    "enum": ["LOW", "MED", "HIG", "ERR", "URG"]
                }, {
                    "name": "received_from",
                    "in": "query",
                    "description": "from timestamp is 'inclusive' (i.e. >=), use UTC time zone",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "name": "received_to",
                    "in": "query",
                    "description": "to timestamp is 'exclusive' (i.e. <), use UTC time zone",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "The unique id of the log entry",
                                        "readOnly": true
                                    },
                                    "received": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The timestamp when the powerbot trading API has received the log entry. UTC timezone is used.",
                                        "readOnly": true
                                    },
                                    "text": {
                                        "type": "string",
                                        "example": "Trading algorithm is starting...",
                                        "description": "The content of your log entry"
                                    },
                                    "as_of": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Should be set to the time (UTC) when the log entry was emitted by your system"
                                    },
                                    "category": {
                                        "type": "string",
                                        "example": "Trading-Algorithm",
                                        "description": "An optional category of the log entry"
                                    },
                                    "severity": {
                                        "type": "string",
                                        "description": "The severity of the log entry",
                                        "enum": ["LOW", "MED", "HIG", "ERR", "URG"]
                                    }
                                },
                                "required": ["as_of", "text"],
                                "x-swagger-router-model": "LogEntry"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total count of log entries"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": ["Logs"],
                "summary": "Adds a new log entry",
                "description": "The Powerbot Trading api helps you to record what your algorithm is doing. You can use this method to log the activity of your trading algorithm. These logs can be retrieved later\nby you or displayed by the Powerbot GUI.",
                "operationId": "addLogEntry",
                "parameters": [{
                    "in": "body",
                    "name": "value",
                    "required": true,
                    "schema": {
                        "required": ["as_of", "text"],
                        "properties": {
                            "id": {
                                "type": "string",
                                "description": "The unique id of the log entry",
                                "readOnly": true
                            },
                            "received": {
                                "type": "string",
                                "format": "date-time",
                                "description": "The timestamp when the powerbot trading API has received the log entry. UTC timezone is used.",
                                "readOnly": true
                            },
                            "text": {
                                "type": "string",
                                "example": "Trading algorithm is starting...",
                                "description": "The content of your log entry"
                            },
                            "as_of": {
                                "type": "string",
                                "format": "date-time",
                                "description": "Should be set to the time (UTC) when the log entry was emitted by your system"
                            },
                            "category": {
                                "type": "string",
                                "example": "Trading-Algorithm",
                                "description": "An optional category of the log entry"
                            },
                            "severity": {
                                "type": "string",
                                "description": "The severity of the log entry",
                                "enum": ["LOW", "MED", "HIG", "ERR", "URG"]
                            }
                        },
                        "x-swagger-router-model": "LogEntry"
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/signals/{source}/{id}": {
            "post": {
                "tags": ["Signals"],
                "summary": "Submit a new signal",
                "operationId": "updateSignal",
                "parameters": [{
                    "name": "source",
                    "in": "path",
                    "description": "A unique identifier of the system which emits signals",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "A unique key of the signal, i.e. the timstamp at which the signal was emitted.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "delivery_start",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "name": "delivery_end",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "in": "body",
                    "name": "value",
                    "description": "Signal payload. Will accept any valid json. Set the \"delivery_start\" and the \"delivery_end\" attributes to a valid delivery period for a contract of an order book, \nand the order book will return you your previously submitted signals. This is then typically used by trading algorithms to determine if, for instance, a position should\nbe closed. You can either submit these attributes as part of signal, or as query parameters.",
                    "required": true,
                    "schema": {
                        "type": "object"
                    }
                }],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/signals": {
            "get": {
                "tags": ["Signals"],
                "summary": "List of received signals",
                "operationId": "getSignals",
                "parameters": [{
                    "name": "offset",
                    "in": "query",
                    "description": "Offset when loading a list of items",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "format": "int32"
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "Limits the number of loaded items",
                    "required": false,
                    "type": "integer",
                    "default": 50,
                    "format": "int32"
                }, {
                    "name": "received_from",
                    "in": "query",
                    "description": "from timestamp is 'inclusive' (i.e. >=), use UTC timezones",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "name": "received_to",
                    "in": "query",
                    "description": "to timestamp is 'exclusive' (i.e. <), use UTC timezones",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "etrm_signal_2018-04-05T09:13:77Z",
                                        "description": "The unique id of the signal (within the namespace of the emitting source)"
                                    },
                                    "source": {
                                        "type": "string",
                                        "example": "ETRMSystem",
                                        "description": "The identifier of the system which emitted the signal"
                                    },
                                    "received_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2018-04-05T09:14:17.000+0000",
                                        "description": "The timestamp when the signal was received by PowerBot"
                                    },
                                    "revision": {
                                        "type": "integer",
                                        "format": "int32",
                                        "description": "The number of times the signal has been updated. If the signal has never received any updates, then revision is 0."
                                    },
                                    "delivery_start": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2018-04-05T09:14:17.000+0000",
                                        "description": "Together with delivery_start and delivery_end specify the delivery period in which the signal is valid"
                                    },
                                    "delivery_end": {
                                        "type": "string",
                                        "format": "date-time",
                                        "example": "2018-04-05T09:14:17.000+0000",
                                        "description": "Together with delivery_start and delivery_end specify the delivery period in which the signal is valid"
                                    },
                                    "value": {
                                        "type": "object",
                                        "example": {
                                            "imbalance": 7,
                                            "delivery_start": "2018-04-05T14:00:00Z",
                                            "delivery_end": "2018-04-05T15:00:00Z"
                                        },
                                        "description": "The content of the signal",
                                        "properties": {}
                                    }
                                },
                                "x-swagger-router-model": "Signal"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total count of signals"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": ["Signals"],
                "summary": "Bulk submitting of signals",
                "operationId": "updateSignals",
                "parameters": [{
                    "in": "body",
                    "name": "value",
                    "description": "Signals payload",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "example": "etrm_signal_2018-04-05T09:13:77Z",
                                    "description": "The unique id of the signal (within the namespace of the emitting source)"
                                },
                                "source": {
                                    "type": "string",
                                    "example": "ETRMSystem",
                                    "description": "The identifier of the system which emitted the signal"
                                },
                                "value": {
                                    "type": "object",
                                    "example": {
                                        "imbalance": 7
                                    },
                                    "description": "The content of the signal",
                                    "properties": {}
                                },
                                "delivery_start": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "delivery_start together with delivery_end define the contract for which the signal is valid for."
                                },
                                "delivery_end": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "delivery_start together with delivery_end define the contract for which the signal is valid for."
                                }
                            },
                            "required": ["id", "source", "value"],
                            "x-swagger-router-model": "BulkSignal"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "description": "For each submitted signal a response will be generated",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "string"
                                    },
                                    "source": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": ["OK", "ERROR"]
                                    },
                                    "status_text": {
                                        "type": "string"
                                    }
                                },
                                "x-swagger-router-model": "BulkSignalResponse"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/trades": {
            "get": {
                "tags": ["Trades"],
                "summary": "List of the trades that you have carried out",
                "operationId": "getTrades",
                "parameters": [{
                    "name": "offset",
                    "in": "query",
                    "description": "Offset when loading a list of items",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "format": "int32"
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "Limits the number of loaded items",
                    "required": false,
                    "type": "integer",
                    "default": 50,
                    "format": "int32"
                }, {
                    "name": "ordId",
                    "in": "query",
                    "description": "Limit the trades to those which are related to a particular order",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }, {
                    "name": "active_only",
                    "in": "query",
                    "description": "Show only those trades which are active (i.e. active or rejected recalls/cancellations)",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "clOrdrId",
                    "in": "query",
                    "description": "Show only those trades related to orders with a specific 'client order id' (something like 'your reference' which you can submit)\ntogether with an order ",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "txt",
                    "in": "query",
                    "description": "Show only those trades related to orders with a specific 'custom text'. Similar to the clOrdrId, you can\nsubmit a string inside the 'txt' attribute of an order which helps you to identify trades originating from a \nspecific order at a later point",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "contract_id",
                    "in": "query",
                    "description": "Show only those trades related to a specific contract",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }, {
                    "name": "from_api_timestamp",
                    "in": "query",
                    "description": "from timestamp is 'inclusive' (i.e. >=)",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "name": "to_api_timestamp",
                    "in": "query",
                    "description": "to timestamp is 'exclusive' (i.e. <)",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "name": "delivery_within_start",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }, {
                    "name": "delivery_within_end",
                    "in": "query",
                    "required": false,
                    "type": "string",
                    "format": "date-time"
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "trade_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 383234324234,
                                        "description": "Unique trade_id"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "ACTI",
                                        "description": "* CNCL: Trade was cancelled by market operations.\n* RREJ: Requested Recall was rejected by market operations.\n* RGRA: Requested Recall was granted by market operations.\n* RREQ: Recall of this trade was requested.\n* ACTI: Trade is active (this is the default value).\n* CREQ: cancel was requested from local market operations. \n* CREJ: cancel was rejected by global market operations.\n* RSFA: Request sent for approval to SOB (XBID).",
                                        "enum": ["CNCL", "RREJ", "RGRA", "RREQ", "ACTI", "CREQ", "CREJ", "RSFA"]
                                    },
                                    "delivery_area": {
                                        "type": "string",
                                        "example": "10YAT-APG------L",
                                        "description": "If you sold energy with this trade, delivery_area will contain the sell_delivery_area, otherwise the buy_delivery_area"
                                    },
                                    "api_timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The timestamp when powerbot received the trade (UTC time zone)"
                                    },
                                    "exec_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The timestamp when the trade was executed (UTC time zone)"
                                    },
                                    "buy": {
                                        "type": "boolean",
                                        "description": "true if you bought energy"
                                    },
                                    "sell": {
                                        "type": "boolean",
                                        "example": false,
                                        "description": "true if you sold energy"
                                    },
                                    "buy_order_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 6123942030,
                                        "description": "the order_id of the underlying buy-order"
                                    },
                                    "buy_delivery_area": {
                                        "type": "string",
                                        "description": "The delivery area of the buy-side of the trade."
                                    },
                                    "buy_clOrderId": {
                                        "type": "string",
                                        "description": "the client order id of the buy order"
                                    },
                                    "buy_txt": {
                                        "type": "string",
                                        "description": "the custom text of the buy order"
                                    },
                                    "buy_user_code": {
                                        "type": "string",
                                        "description": "the buyer's epex user code"
                                    },
                                    "buy_member_id": {
                                        "type": "string",
                                        "description": "the buyer's epex member id"
                                    },
                                    "buy_aggressor_indicator": {
                                        "type": "string",
                                        "description": "Indicates whether the executed order was a trade aggressor or trade originator.  \n* Y - Trade aggressor\n* N - Trade originator\n* U - Unknown, for executed orders of remote products and data before migration    ",
                                        "enum": ["Y", "N", "U"]
                                    },
                                    "sell_order_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 28492342354,
                                        "description": "The seller's order id"
                                    },
                                    "sell_delivery_area": {
                                        "type": "string",
                                        "example": "10YAT-APG------L",
                                        "description": "delivery area of the sell order"
                                    },
                                    "sell_clOrderId": {
                                        "type": "string",
                                        "description": "The sell order's client id"
                                    },
                                    "sell_txt": {
                                        "type": "string",
                                        "description": "The sell order's custom text"
                                    },
                                    "sell_user_code": {
                                        "type": "string",
                                        "description": "The seller's epex user code"
                                    },
                                    "sell_member_id": {
                                        "type": "string",
                                        "description": "The seller's epex member id"
                                    },
                                    "sell_aggressor_indicator": {
                                        "type": "string",
                                        "description": "Indicates whether the executed order was a trade aggressor or trade originator.  \n* Y - Trade aggressor\n* N - Trade originator\n* U - Unknown, for executed orders of remote products and data before migration    ",
                                        "enum": ["Y", "N", "U"]
                                    },
                                    "contract_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 2342353242,
                                        "description": "The contract_id against which the trade was executed"
                                    },
                                    "contract_name": {
                                        "type": "string",
                                        "example": "17-18",
                                        "description": "The contract's name against which the trade was executed."
                                    },
                                    "delivery_start": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Time when the delivery of this trade starts (UTC timezone)"
                                    },
                                    "delivery_end": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Time when the delivery of this trade ends (UTC timezone)"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 35.0,
                                        "description": "Price of the trade"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 5.0,
                                        "description": "Quantity in MW of the trade"
                                    },
                                    "trade_details": {
                                        "type": "object",
                                        "description": "Details of the trade provided by EPEX, Please consult the \"DFS180 - M7 - Public Message Interface\" for details.",
                                        "properties": {}
                                    },
                                    "contract_details": {
                                        "type": "object",
                                        "description": "Details of the trade provided by EPEX, Please consult the \"DFS180 - M7 - Public Message Interface\" for details.",
                                        "properties": {}
                                    }
                                },
                                "x-swagger-router-model": "Trade"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total count of trades"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/trade/{trade_id}": {
            "delete": {
                "tags": ["Trades"],
                "summary": "Recalls a trade",
                "description": "Attempts to recall a trade. Note that this may fail depending on the conditions set by Market operations. Check the trade's state after\nattempting to recall a trade.",
                "operationId": "recallTrade",
                "parameters": [{
                    "name": "trade_id",
                    "in": "path",
                    "description": "The unique trade_id",
                    "required": true,
                    "type": "integer",
                    "format": "int64"
                }],
                "responses": {
                    "200": {
                        "description": "Success, returns the list of affected trades",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "trade_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 383234324234,
                                        "description": "Unique trade_id"
                                    },
                                    "state": {
                                        "type": "string",
                                        "example": "ACTI",
                                        "description": "* CNCL: Trade was cancelled by market operations.\n* RREJ: Requested Recall was rejected by market operations.\n* RGRA: Requested Recall was granted by market operations.\n* RREQ: Recall of this trade was requested.\n* ACTI: Trade is active (this is the default value).\n* CREQ: cancel was requested from local market operations. \n* CREJ: cancel was rejected by global market operations.\n* RSFA: Request sent for approval to SOB (XBID).",
                                        "enum": ["CNCL", "RREJ", "RGRA", "RREQ", "ACTI", "CREQ", "CREJ", "RSFA"]
                                    },
                                    "delivery_area": {
                                        "type": "string",
                                        "example": "10YAT-APG------L",
                                        "description": "If you sold energy with this trade, delivery_area will contain the sell_delivery_area, otherwise the buy_delivery_area"
                                    },
                                    "api_timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The timestamp when powerbot received the trade (UTC time zone)"
                                    },
                                    "exec_time": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "The timestamp when the trade was executed (UTC time zone)"
                                    },
                                    "buy": {
                                        "type": "boolean",
                                        "description": "true if you bought energy"
                                    },
                                    "sell": {
                                        "type": "boolean",
                                        "example": false,
                                        "description": "true if you sold energy"
                                    },
                                    "buy_order_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 6123942030,
                                        "description": "the order_id of the underlying buy-order"
                                    },
                                    "buy_delivery_area": {
                                        "type": "string",
                                        "description": "The delivery area of the buy-side of the trade."
                                    },
                                    "buy_clOrderId": {
                                        "type": "string",
                                        "description": "the client order id of the buy order"
                                    },
                                    "buy_txt": {
                                        "type": "string",
                                        "description": "the custom text of the buy order"
                                    },
                                    "buy_user_code": {
                                        "type": "string",
                                        "description": "the buyer's epex user code"
                                    },
                                    "buy_member_id": {
                                        "type": "string",
                                        "description": "the buyer's epex member id"
                                    },
                                    "buy_aggressor_indicator": {
                                        "type": "string",
                                        "description": "Indicates whether the executed order was a trade aggressor or trade originator.  \n* Y - Trade aggressor\n* N - Trade originator\n* U - Unknown, for executed orders of remote products and data before migration    ",
                                        "enum": ["Y", "N", "U"]
                                    },
                                    "sell_order_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 28492342354,
                                        "description": "The seller's order id"
                                    },
                                    "sell_delivery_area": {
                                        "type": "string",
                                        "example": "10YAT-APG------L",
                                        "description": "delivery area of the sell order"
                                    },
                                    "sell_clOrderId": {
                                        "type": "string",
                                        "description": "The sell order's client id"
                                    },
                                    "sell_txt": {
                                        "type": "string",
                                        "description": "The sell order's custom text"
                                    },
                                    "sell_user_code": {
                                        "type": "string",
                                        "description": "The seller's epex user code"
                                    },
                                    "sell_member_id": {
                                        "type": "string",
                                        "description": "The seller's epex member id"
                                    },
                                    "sell_aggressor_indicator": {
                                        "type": "string",
                                        "description": "Indicates whether the executed order was a trade aggressor or trade originator.  \n* Y - Trade aggressor\n* N - Trade originator\n* U - Unknown, for executed orders of remote products and data before migration    ",
                                        "enum": ["Y", "N", "U"]
                                    },
                                    "contract_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 2342353242,
                                        "description": "The contract_id against which the trade was executed"
                                    },
                                    "contract_name": {
                                        "type": "string",
                                        "example": "17-18",
                                        "description": "The contract's name against which the trade was executed."
                                    },
                                    "delivery_start": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Time when the delivery of this trade starts (UTC timezone)"
                                    },
                                    "delivery_end": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "Time when the delivery of this trade ends (UTC timezone)"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 35.0,
                                        "description": "Price of the trade"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 5.0,
                                        "description": "Quantity in MW of the trade"
                                    },
                                    "trade_details": {
                                        "type": "object",
                                        "description": "Details of the trade provided by EPEX, Please consult the \"DFS180 - M7 - Public Message Interface\" for details.",
                                        "properties": {}
                                    },
                                    "contract_details": {
                                        "type": "object",
                                        "description": "Details of the trade provided by EPEX, Please consult the \"DFS180 - M7 - Public Message Interface\" for details.",
                                        "properties": {}
                                    }
                                },
                                "x-swagger-router-model": "Trade"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "tags": ["Orders"],
                "summary": "List of own orders",
                "operationId": "getOwnOrders",
                "parameters": [{
                    "name": "offset",
                    "in": "query",
                    "description": "Offset when loading a list of items",
                    "required": false,
                    "type": "integer",
                    "default": 0,
                    "format": "int32"
                }, {
                    "name": "limit",
                    "in": "query",
                    "description": "Limits the number of loaded items",
                    "required": false,
                    "type": "integer",
                    "default": 50,
                    "format": "int32"
                }, {
                    "name": "contract_id",
                    "in": "query",
                    "description": "Show only those orders related to a specific contract",
                    "required": false,
                    "type": "integer",
                    "format": "int64"
                }, {
                    "name": "active_only",
                    "in": "query",
                    "description": "Returns only those orders which are active",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "order_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "the unique id of the order. **Note** if you modify an order, the id will change!"
                                    },
                                    "api_timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "the time (UTC) when Powerbot received the last update of the order"
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "The current state of the order in the system. \n* HIBE: The order is entered into the backend system but not exposed to the market.\n* ACTI: The order is entered and immediately exposed to the market for execution.\n* IACT: The order is deleted.",
                                        "enum": ["ACTI", "HIBE", "IACT"]
                                    },
                                    "delivery_area": {
                                        "type": "string",
                                        "description": "Defines the delivery area of the order."
                                    },
                                    "last_change_timestamp": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "buy": {
                                        "type": "boolean",
                                        "description": "Set to true if the order is a BUY order, false otherwise"
                                    },
                                    "sell": {
                                        "type": "boolean",
                                        "description": "set to true if the order is a SELL order, false otherwise"
                                    },
                                    "side": {
                                        "type": "string",
                                        "enum": ["SELL", "BUY"]
                                    },
                                    "contract_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The contract_id of the order's underlying contract"
                                    },
                                    "contract_name": {
                                        "type": "string",
                                        "example": "07-008",
                                        "description": "The contract name of the order's underlying contract"
                                    },
                                    "delivery_start": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "the delivery start of the underlying contract."
                                    },
                                    "delivery_end": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "the delivery end of the underlying contract."
                                    },
                                    "clOrdrId": {
                                        "type": "string",
                                        "description": "The client's order number (if set during the placement of the order)"
                                    },
                                    "txt": {
                                        "type": "string",
                                        "description": "The client's custom text (if set during the placement of the order)"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "double",
                                        "example": "EUR",
                                        "description": "The price of the order in the contract's currency (usually EUR)"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 5.0,
                                        "description": "The quantity of the order (in the contract's quantity unit - usually MW)"
                                    },
                                    "action": {
                                        "type": "string",
                                        "description": "The action which has been carried out for the order\n* UADD: Order added by user.\n* UHIB: Order deactivated by user.\n* UMOD: Order modified by user.\n* UDEL: Order deleted by user.\n* UREJ: Pre-arranged order rejected by user.\n* AADD: Order added by market operations on behalf.\n* AHIB: Order deactivated by market operations on behalf. “AMOD”: Order modified by market operations on behalf.\n* ADEL: Order deleted by market operations on behalf.\n* AREJ: Pre-arranged order rejected by market operations on behalf.\n* SADD: Order added by the system.\n* SHIB: Order deactivated by the system. “SMOD”: Order modified by the system. “SDEL”: Order deleted by the system.\n* SREJ: Pre-arranged order rejected by system.\n* FEXE: Order is fully executed.\n* PEXE: Partial execution of order.\n* IADD: A new slice of an Iceberg order was added to the service.\n* QADD: Quote was added\n* QFEX: Quote was fully executed"
                                    },
                                    "details": {
                                        "type": "object",
                                        "description": "All details of the order (as received from the underlying backend system)",
                                        "properties": {}
                                    }
                                },
                                "x-swagger-router-model": "OwnOrder"
                            }
                        },
                        "headers": {
                            "X-Total-Count": {
                                "type": "integer",
                                "format": "int32",
                                "description": "total count of orders"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "tags": ["Orders"],
                "summary": "Place new order",
                "description": "Allows you to place a new sell or bid order. ",
                "operationId": "addOrder",
                "parameters": [{
                    "in": "body",
                    "name": "order",
                    "required": true,
                    "schema": {
                        "required": ["clearingAcctType", "price", "quantity"],
                        "properties": {
                            "delivery_area": {
                                "type": "string",
                                "description": "The delivery area of the orderbook's product. Mandatory in a multi-delivery-area configuration"
                            },
                            "side": {
                                "type": "string",
                                "enum": ["SELL", "BUY"]
                            },
                            "prod": {
                                "type": "string",
                                "example": "Intraday_Power_D",
                                "description": "The product of the order"
                            },
                            "quantity": {
                                "type": "number",
                                "format": "double",
                                "example": 5.0,
                                "description": "The quantity of the order in MW."
                            },
                            "price": {
                                "type": "number",
                                "format": "double",
                                "example": 35.3,
                                "description": "The price of ther order in the traded currency (usually EUR)"
                            },
                            "displayQty": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Used to define display quantity of an Iceberg Order. This field is required only in the case of type=’I’."
                            },
                            "contractId": {
                                "type": "integer",
                                "format": "int64",
                                "description": "The contractId of the order, can be omitted if contractName is specified instead."
                            },
                            "contractName": {
                                "type": "string",
                                "description": "Set a contract name instead of the contractId, and the attempt is made to look up the contract via it's name. If contractId is set, the contractName field is ignored."
                            },
                            "clOrdrId": {
                                "type": "string",
                                "description": "the \"client order id\" which can be used to identify the order at a later point (i.e. within a trade)",
                                "maxLength": 40
                            },
                            "clearingAcctType": {
                                "type": "string",
                                "description": "Defines if the order is entered on own account or as an agent. \nFor the set of valid values please refer to values from attribute allowedClearingAcctTypes in SystemInfoResp message (e.g. ”A,P” for spot markets)"
                            },
                            "ordrExeRestriction": {
                                "type": "string",
                                "description": "Execution restriction of the order.\n\n* NON: No restriction. This is the default.\n* FOK: (Fill or Kill) - The order is immediately fully executed or deleted.\n* IOC: (Immediate and cancel): The order is executed immediately to its maximum extent. In case of a partial execution, the remaining volume is removed from the order book.\n* AON: (All or None): The order must be filled completely or not at all. The order stays in the order book until it is executed or removed by the system or user. \n* AU (Auction): The order was entered in auction phase (no restriction is applied)",
                                "enum": ["FOK", "IOC", "NON", "AON", "AU"],
                                "default": "NON"
                            },
                            "preArranged": {
                                "type": "boolean",
                                "description": "Flag which indicates if the entered order is a pre-arranged order or not.",
                                "default": false
                            },
                            "preArrangedAcct": {
                                "type": "string",
                                "description": "Required in case of a pre-arranged order. Contains the account of the counterpart."
                            },
                            "type": {
                                "type": "string",
                                "description": "* O: Regular limit order.\n* B: User defined block order.\n* I: Iceberg order.\n* L: Balance order.\n* C: Indicative order.\n* S: Stop limit order.\n* E: On exchange prearranged trade\n* N: Private and confidential trade\n* H: Lifting order for products with Hit & Lift matcher \n* Q: quote order\n* W: Indicative quote order",
                                "enum": ["B", "O", "I", "L", "S", "H", "C", "N", "E"],
                                "default": "O"
                            },
                            "validityRes": {
                                "type": "string",
                                "description": "Validity restriction of the order. \n* GFS (Good for trading session): The order rests in the order book until it is either executed, removed by the user or the current trading session (trading phase) of the underlying contract ends.\n* GTD (Good till date, will be introduced with CX 3.5): The order rests in the order book until the date specified in the validityDate field.\n* NON (No validity restriction): Mandatory for orders with the execution restriction “FOK” or “IOC”.",
                                "enum": ["GFS", "GTD", "NON"],
                                "default": "GFS"
                            },
                            "state": {
                                "type": "string",
                                "description": "* ACTI: The order is entered and immediately exposed to the market for execution. This is the default value.\n* HIBE: The order is entered into the backend system but not exposed to the market.",
                                "enum": ["ACTI", "HIBE"]
                            },
                            "validityDate": {
                                "type": "string",
                                "format": "date-time",
                                "description": "mandatory in case of validityRes equals “GTD”. It is used to define the date until which the order is valid. \nThe remaining part of the order will be removed from the order book after this point in time."
                            },
                            "txt": {
                                "type": "string",
                                "description": "Text which can be retrieved at a later point (i.e. via a trade which was triggered by the order)",
                                "maxLength": 250
                            },
                            "ppd": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Peak price delta for Iceberg orders.\n* The ppd of buy orders must be smaller or equal than zero.\n* The ppd of sell orders must be greater or equal than zero.\nIf it is omitted the system will assume a value of “0,00”."
                            },
                            "dlvryStart": {
                                "type": "string",
                                "format": "date-time",
                                "description": "(optional) Start of delivery of the underlying contract."
                            },
                            "dlvryEnd": {
                                "type": "string",
                                "format": "date-time",
                                "description": "(optional) End of delivery of the underlying contract."
                            }
                        },
                        "x-swagger-router-model": "OrderEntry"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "order_id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "the unique id of the order. **Note** if you modify an order, the id will change!"
                                },
                                "api_timestamp": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "the time (UTC) when Powerbot received the last update of the order"
                                },
                                "state": {
                                    "type": "string",
                                    "description": "The current state of the order in the system. \n* HIBE: The order is entered into the backend system but not exposed to the market.\n* ACTI: The order is entered and immediately exposed to the market for execution.\n* IACT: The order is deleted.",
                                    "enum": ["ACTI", "HIBE", "IACT"]
                                },
                                "delivery_area": {
                                    "type": "string",
                                    "description": "Defines the delivery area of the order."
                                },
                                "last_change_timestamp": {
                                    "type": "string",
                                    "format": "date-time"
                                },
                                "buy": {
                                    "type": "boolean",
                                    "description": "Set to true if the order is a BUY order, false otherwise"
                                },
                                "sell": {
                                    "type": "boolean",
                                    "description": "set to true if the order is a SELL order, false otherwise"
                                },
                                "side": {
                                    "type": "string",
                                    "enum": ["SELL", "BUY"]
                                },
                                "contract_id": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "The contract_id of the order's underlying contract"
                                },
                                "contract_name": {
                                    "type": "string",
                                    "example": "07-008",
                                    "description": "The contract name of the order's underlying contract"
                                },
                                "delivery_start": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "the delivery start of the underlying contract."
                                },
                                "delivery_end": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "the delivery end of the underlying contract."
                                },
                                "clOrdrId": {
                                    "type": "string",
                                    "description": "The client's order number (if set during the placement of the order)"
                                },
                                "txt": {
                                    "type": "string",
                                    "description": "The client's custom text (if set during the placement of the order)"
                                },
                                "price": {
                                    "type": "number",
                                    "format": "double",
                                    "example": "EUR",
                                    "description": "The price of the order in the contract's currency (usually EUR)"
                                },
                                "quantity": {
                                    "type": "number",
                                    "format": "double",
                                    "example": 5.0,
                                    "description": "The quantity of the order (in the contract's quantity unit - usually MW)"
                                },
                                "action": {
                                    "type": "string",
                                    "description": "The action which has been carried out for the order\n* UADD: Order added by user.\n* UHIB: Order deactivated by user.\n* UMOD: Order modified by user.\n* UDEL: Order deleted by user.\n* UREJ: Pre-arranged order rejected by user.\n* AADD: Order added by market operations on behalf.\n* AHIB: Order deactivated by market operations on behalf. “AMOD”: Order modified by market operations on behalf.\n* ADEL: Order deleted by market operations on behalf.\n* AREJ: Pre-arranged order rejected by market operations on behalf.\n* SADD: Order added by the system.\n* SHIB: Order deactivated by the system. “SMOD”: Order modified by the system. “SDEL”: Order deleted by the system.\n* SREJ: Pre-arranged order rejected by system.\n* FEXE: Order is fully executed.\n* PEXE: Partial execution of order.\n* IADD: A new slice of an Iceberg order was added to the service.\n* QADD: Quote was added\n* QFEX: Quote was fully executed"
                                },
                                "details": {
                                    "type": "object",
                                    "description": "All details of the order (as received from the underlying backend system)",
                                    "properties": {}
                                }
                            },
                            "x-swagger-router-model": "OwnOrder"
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orders/list": {
            "post": {
                "tags": ["Orders"],
                "summary": "Place a list of new orders",
                "description": "Allows you to place a new sell or bid orders. For each requested order one response is generated. In case of sucess, the order is returned otherwise an error message is returned.",
                "operationId": "addOrders",
                "parameters": [{
                    "name": "exec_instruction",
                    "in": "query",
                    "description": "Defines the execution instruction for the whole list of orders: \n  * **VALID**: default. All orders must be valid, meaning they must past the order validation of the backend system (e.g. the price of the order must be in the price range of the product). If one order does not pass the validation, the full list of submitted orders is rejected.\n  * **LNKD**: Linked orders - the provided orders are linked together and should be executed all at once. This option can only be used, if all orders have the same product and the execution restriction FOK (Fill-or-Kill). In case one of the orders cannot be executed, the whole list is not executed. The Linked Orders feature is configurable and might be turned off by EPEX.",
                    "required": false,
                    "type": "string",
                    "default": "VALID",
                    "enum": ["VALID", "LNKD"]
                }, {
                    "in": "body",
                    "name": "order",
                    "required": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "delivery_area": {
                                    "type": "string",
                                    "description": "The delivery area of the orderbook's product. Mandatory in a multi-delivery-area configuration"
                                },
                                "side": {
                                    "type": "string",
                                    "enum": ["SELL", "BUY"]
                                },
                                "prod": {
                                    "type": "string",
                                    "example": "Intraday_Power_D",
                                    "description": "The product of the order"
                                },
                                "quantity": {
                                    "type": "number",
                                    "format": "double",
                                    "example": 5.0,
                                    "description": "The quantity of the order in MW."
                                },
                                "price": {
                                    "type": "number",
                                    "format": "double",
                                    "example": 35.3,
                                    "description": "The price of ther order in the traded currency (usually EUR)"
                                },
                                "displayQty": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Used to define display quantity of an Iceberg Order. This field is required only in the case of type=’I’."
                                },
                                "contractId": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "The contractId of the order, can be omitted if contractName is specified instead."
                                },
                                "contractName": {
                                    "type": "string",
                                    "description": "Set a contract name instead of the contractId, and the attempt is made to look up the contract via it's name. If contractId is set, the contractName field is ignored."
                                },
                                "clOrdrId": {
                                    "type": "string",
                                    "description": "the \"client order id\" which can be used to identify the order at a later point (i.e. within a trade)",
                                    "maxLength": 40
                                },
                                "clearingAcctType": {
                                    "type": "string",
                                    "description": "Defines if the order is entered on own account or as an agent. \nFor the set of valid values please refer to values from attribute allowedClearingAcctTypes in SystemInfoResp message (e.g. ”A,P” for spot markets)"
                                },
                                "ordrExeRestriction": {
                                    "type": "string",
                                    "description": "Execution restriction of the order.\n\n* NON: No restriction. This is the default.\n* FOK: (Fill or Kill) - The order is immediately fully executed or deleted.\n* IOC: (Immediate and cancel): The order is executed immediately to its maximum extent. In case of a partial execution, the remaining volume is removed from the order book.\n* AON: (All or None): The order must be filled completely or not at all. The order stays in the order book until it is executed or removed by the system or user. \n* AU (Auction): The order was entered in auction phase (no restriction is applied)",
                                    "enum": ["FOK", "IOC", "NON", "AON", "AU"],
                                    "default": "NON"
                                },
                                "preArranged": {
                                    "type": "boolean",
                                    "description": "Flag which indicates if the entered order is a pre-arranged order or not.",
                                    "default": false
                                },
                                "preArrangedAcct": {
                                    "type": "string",
                                    "description": "Required in case of a pre-arranged order. Contains the account of the counterpart."
                                },
                                "type": {
                                    "type": "string",
                                    "description": "* O: Regular limit order.\n* B: User defined block order.\n* I: Iceberg order.\n* L: Balance order.\n* C: Indicative order.\n* S: Stop limit order.\n* E: On exchange prearranged trade\n* N: Private and confidential trade\n* H: Lifting order for products with Hit & Lift matcher \n* Q: quote order\n* W: Indicative quote order",
                                    "enum": ["B", "O", "I", "L", "S", "H", "C", "N", "E"],
                                    "default": "O"
                                },
                                "validityRes": {
                                    "type": "string",
                                    "description": "Validity restriction of the order. \n* GFS (Good for trading session): The order rests in the order book until it is either executed, removed by the user or the current trading session (trading phase) of the underlying contract ends.\n* GTD (Good till date, will be introduced with CX 3.5): The order rests in the order book until the date specified in the validityDate field.\n* NON (No validity restriction): Mandatory for orders with the execution restriction “FOK” or “IOC”.",
                                    "enum": ["GFS", "GTD", "NON"],
                                    "default": "GFS"
                                },
                                "state": {
                                    "type": "string",
                                    "description": "* ACTI: The order is entered and immediately exposed to the market for execution. This is the default value.\n* HIBE: The order is entered into the backend system but not exposed to the market.",
                                    "enum": ["ACTI", "HIBE"]
                                },
                                "validityDate": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "mandatory in case of validityRes equals “GTD”. It is used to define the date until which the order is valid. \nThe remaining part of the order will be removed from the order book after this point in time."
                                },
                                "txt": {
                                    "type": "string",
                                    "description": "Text which can be retrieved at a later point (i.e. via a trade which was triggered by the order)",
                                    "maxLength": 250
                                },
                                "ppd": {
                                    "type": "integer",
                                    "format": "int32",
                                    "description": "Peak price delta for Iceberg orders.\n* The ppd of buy orders must be smaller or equal than zero.\n* The ppd of sell orders must be greater or equal than zero.\nIf it is omitted the system will assume a value of “0,00”."
                                },
                                "dlvryStart": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "(optional) Start of delivery of the underlying contract."
                                },
                                "dlvryEnd": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "(optional) End of delivery of the underlying contract."
                                }
                            },
                            "required": ["clearingAcctType", "price", "quantity"],
                            "x-swagger-router-model": "OrderEntry"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "order_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "the unique id of the order. **Note** if you modify an order, the id will change!"
                                    },
                                    "api_timestamp": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "the time (UTC) when Powerbot received the last update of the order"
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "The current state of the order in the system. \n* HIBE: The order is entered into the backend system but not exposed to the market.\n* ACTI: The order is entered and immediately exposed to the market for execution.\n* IACT: The order is deleted.",
                                        "enum": ["ACTI", "HIBE", "IACT"]
                                    },
                                    "delivery_area": {
                                        "type": "string",
                                        "description": "Defines the delivery area of the order."
                                    },
                                    "last_change_timestamp": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "buy": {
                                        "type": "boolean",
                                        "description": "Set to true if the order is a BUY order, false otherwise"
                                    },
                                    "sell": {
                                        "type": "boolean",
                                        "description": "set to true if the order is a SELL order, false otherwise"
                                    },
                                    "side": {
                                        "type": "string",
                                        "enum": ["SELL", "BUY"]
                                    },
                                    "contract_id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "description": "The contract_id of the order's underlying contract"
                                    },
                                    "contract_name": {
                                        "type": "string",
                                        "example": "07-008",
                                        "description": "The contract name of the order's underlying contract"
                                    },
                                    "delivery_start": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "the delivery start of the underlying contract."
                                    },
                                    "delivery_end": {
                                        "type": "string",
                                        "format": "date-time",
                                        "description": "the delivery end of the underlying contract."
                                    },
                                    "clOrdrId": {
                                        "type": "string",
                                        "description": "The client's order number (if set during the placement of the order)"
                                    },
                                    "txt": {
                                        "type": "string",
                                        "description": "The client's custom text (if set during the placement of the order)"
                                    },
                                    "price": {
                                        "type": "number",
                                        "format": "double",
                                        "example": "EUR",
                                        "description": "The price of the order in the contract's currency (usually EUR)"
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "format": "double",
                                        "example": 5.0,
                                        "description": "The quantity of the order (in the contract's quantity unit - usually MW)"
                                    },
                                    "action": {
                                        "type": "string",
                                        "description": "The action which has been carried out for the order\n* UADD: Order added by user.\n* UHIB: Order deactivated by user.\n* UMOD: Order modified by user.\n* UDEL: Order deleted by user.\n* UREJ: Pre-arranged order rejected by user.\n* AADD: Order added by market operations on behalf.\n* AHIB: Order deactivated by market operations on behalf. “AMOD”: Order modified by market operations on behalf.\n* ADEL: Order deleted by market operations on behalf.\n* AREJ: Pre-arranged order rejected by market operations on behalf.\n* SADD: Order added by the system.\n* SHIB: Order deactivated by the system. “SMOD”: Order modified by the system. “SDEL”: Order deleted by the system.\n* SREJ: Pre-arranged order rejected by system.\n* FEXE: Order is fully executed.\n* PEXE: Partial execution of order.\n* IADD: A new slice of an Iceberg order was added to the service.\n* QADD: Quote was added\n* QFEX: Quote was fully executed"
                                    },
                                    "details": {
                                        "type": "object",
                                        "description": "All details of the order (as received from the underlying backend system)",
                                        "properties": {}
                                    }
                                },
                                "x-swagger-router-model": "OwnOrder"
                            }
                        }
                    },
                    "default": {
                        "description": "Error",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "example": "Something happened",
                                    "description": "the reason for the error"
                                }
                            },
                            "required": ["message"],
                            "x-swagger-router-model": "ErrorResponse"
                        }
                    }
                }
            }
        },
        "/orders/status": {
            "put": {
                "tags": ["Orders"],
                "summary": "Updates the status of all own orders at once",
                "operationId": "updateStatus",
                "parameters": [{
                    "in": "body",
                    "name": "orders",
                    "required": true,
                    "schema": {
[...]
