.bar-status--container {
  position: relative;
  height: 50px;
}
.bar-status--progress {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.bar-status--label {
  position: absolute;
  left: 10px;
  top: 5px;
  right: 10px;
  pointer-events: none;
}
.btn-connection-settings {
  margin: 0 5px 0 0;
}
.mat-progress-bar {
  opacity: 0.3;
}
.mat-chip {
  margin: 4px auto !important;
}
