<div class="bar-status--container">
  <mat-progress-bar
    class="bar-status--progress"
    mode="{{ getProgressBarMode() }}"
    matTooltip="{{ entity.market | json:4 }}"
    matTooltipClass="mat-tooltip-prettyjson"
    color="accent">
  </mat-progress-bar>
  <div class="bar-status--label">
    <!-- Connection States -->
    <mat-chip-list>
      <mat-chip
        color="{{ getStateColor() }}"
        selected
      >
        <mat-icon>{{ getStateIcon() }}</mat-icon>
        &nbsp;
        <span>
          {{ getStateLabel() }}
        </span>
      </mat-chip>
      <mat-chip
        *ngIf="viewEnvironment()"
        color="accent"
        selected
      >
        <mat-icon>{{ getEnvironmentIcon() }}</mat-icon>
        &nbsp;
        <span>
          {{ getEnvironmentLabel() }}
        </span>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div
    class="bar-status--btn-bar"
  >
    <!-- Connection-State Button -->
    <button
      class="btn-connection-settings"
      mat-mini-fab
      matTooltip="Connection State ( {{ getStateLabel() }} )"
      color="{{ getStateColor() }}"
      (click)="openConnectionModal($event)"
    >
      <mat-icon>power_setting_new</mat-icon>
    </button>
    <!-- Market-State Button -->
    <button
      class="btn-market-settings"
      mat-mini-fab
      matTooltip="Market State ( {{ getStateLabel() }} )"
      color="{{ getStateColor() }}"
      (click)="openMarketModal( $event )"
    >
      <mat-icon>timeline</mat-icon>
    </button>
  </div>
</div>
