.bar-status--container {
  position: relative;
  height: 50px;

}
.bar-status--progress {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
.bar-status--label {
  position: absolute;
  left: 10px;
  top: 5px;
  pointer-events: none;
}
.bar-status--btn-bar {
  position: absolute;
  right: 10px;
  top: 5px;
}
.btn-connection-settings {
  margin: 0 5px 0 0;
}
.mat-progress-bar {
  opacity: 0.2;
}
.mat-mini-fab {
  box-shadow: none;
}
