.bar-status--container {
  position: relative;
  height: 50px;
}
.bar-status--progress {
  height: 100%;
}
.bar-status--label {
  position: absolute;
  left: 10px;
  top: 5px;
  color: black;
  pointer-events: none;
}
.bar-status--settings {
  position: absolute;
  right: 10px;
  top: 5px;
}
