/** Powerbot global styles */
@import "normalize.css/normalize.css";
@import 'material-design-icons/iconfont/material-icons.css';
// @import './styles/fg-material-icons.scss';

@import './styles/pb-material-themes.scss';
@import './styles/pb-common.scss';
