/** Powerbot global styles */

// @import "normalize.css/normalize.css";
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './styles/angular-material-icons.scss';
@import './styles/pb-common.scss';

body {
  border: 3px yellow solid;
  margin: -3px;
}
